@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RegularJoe";
  src: url("./assets/RegularJoe.ttf") format("truetype");
}

body {
  background: #08140f;
  color: white;
  font-family: "Marcellus", serif;
}


.hero {
  height: 100vh;
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.overlay {
  width: 50%;

  padding-left: 80px;
}

.overlay h1 {
  font-family: "RegularJoe";
  font-size: 5rem;
  color: #bf9755;
  margin-bottom: 20px;
  letter-spacing: 2px;

  text-shadow:
    3px 3px 8px rgba(0, 0, 0, 0.7);
}

.overlay p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 500px;
  margin-bottom: 30px;
}

.overlay button {
  background: #2f4f3e;
  border: 2px solid #d4af37;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-family:"Marcellus", serif;
}

.personajes {
  background: #08140f;
  padding: 80px 40px;
  text-align: center;
}

.personajes h2 {
  font-family: "RegularJoe";
  font-size: 3.5rem;
  color: #c19040;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.personajes h2 {
  font-family: "RegularJoe";
  font-size: 3.5rem;
  color: #bf9755;
  margin: 10px;
}

.personajes p {
  color: #d8c8a0;
  font-size: 1.1rem;
  margin-bottom: 60px;
}

.titulo-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1px;
}

.titulo-seccion img {
  width: 100px;
  height: auto;
}

/* CONTENEDOR DE PERSONAJES*/

.contenedor-personajes{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:40px;
}

/* TARJETA */
.card-personaje{
  width: 300px;
  height:500px;
  background-image:url("./assets/carpeta-pj.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
}

.card-personaje:hover{
  transform:translateY(-8px);
}

/* FOTO */
.foto-personaje{
  margin-top: 70px;
  width:80%;
  border-radius: 15px;
  height:250px;

  object-fit:cover;
}

/* NOMBRE */
.card-personaje h3{
  margin:15px 10px;
  font-family:"RegularJoe";
  font-size:2.5rem;
  color:#2d2416;
}

/* BOTÓN */
.card-personaje button{
  background:#21442f;
  font-size: 16px;
  color:rgb(245, 234, 190);
  border:none;
  padding:13px 23px;
  border-radius:8px;
  cursor:pointer;
  font-family:"Marcellus", serif;
}